.mainAllocation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allocatedClass {
  background-color: grey;
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

  .numberCircle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
  }

  .innerDiv {
    width: 300px;
  }
  
  .alert-danger {
      margin-top:20px;
  }


